<a href="https://colab.research.google.com/github/AmitUdugade/Python/blob/main/Day2_2501.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
planets = ['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune']
for planet in planets:
  print(planet, end = ' ' )

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

In [ ]:
planets = ['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune']
for planet in planets:
  print(planet, sep = '\n' )

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

In [ ]:
numbers = (2,2,2,3,3,5)
product = 1
for multi in numbers:
  product = product * multi
product

360

In [ ]:
s = 'Amit Tukaram Udugade'
for char in s:
  if char.isupper():
    print(char, end = '')

ATU

In [ ]:
s = 'Amit Tukaram Udugade'
for char in s:
  if char.islower():
    print(char, end = ' ')

m i t u k a r a m d u g a d e

In [ ]:
for i in range(5):
  print('Doing Important Work. i = ', i)

Doing Important Work. i =  0
Doing Important Work. i =  1
Doing Important Work. i =  2
Doing Important Work. i =  3
Doing Important Work. i =  4

In [ ]:
i = 1
mul = 10
while i <= 10:
  res = mul * i
  print( res)
  i += 1

10
20
30
40
50
60
70
80
90
100

In [ ]:
squares = [n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares = []
for n in range(10):
  squares.append(n**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
def has_lucky_number(nums):
    """Return whether the given list of numbers is lucky. A lucky list contains
    at least one number divisible by 7.
    """
    for num in nums:
        if num % 7 == 0:
            return True
        else:
            return False

In [ ]:
num = [1,2,3,4]
numres = []
for nums in num:
  if nums > 2:
    numres.append[True]
  else:
    numres.append[False]
numres

TypeError: 'builtin_function_or_method' object is not subscriptable

In [ ]:
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

In [ ]:
numbers = {'one':1, 'two':2, 'three':3}

numbers ['three']

3

In [ ]:
planets = {'Amit', 'Tukaram', 'Udugade'}
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Udugade': 'U', 'Tukaram': 'T', 'Amit': 'A'}

In [ ]:
import math
math.pi

3.141592653589793