<a href="https://colab.research.google.com/github/AmitUdugade/PythonBasicsWorkspace/blob/main/Day4_0702.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Simple Calculator

first = input("Enter First Number : ")
operator = input("Enter operator(+,-,*,/,%) : ")
second = input("Enter Second Number : ")

first = int(first)
second = int(second)

if operator == "+":
  print(first + second)
elif operator == "-":
  print(first - second)
elif operator == "*":
  print(first * second)
elif operator == "/":
  print(first / second)
elif operator == "%":
  print(first % second)
else:
  print("Invalid Operation!")

Enter First Number : 10
Enter operator(+,-,*,/,%) : ^
Enter Second Number : 20
Invalid Operation!

In [4]:
name = "Tony Stark"

name.find(('S'))

5

In [5]:
name = "Tony Stark"

name.find(('n'))

2

In [6]:
name = "Tony Stark"

name.find(('Stark'))

5

In [9]:
name = "Tony Stark"

print("T" in name)  #Gives output in boolean format. and it is case sensitive

False

In [11]:
name = "Tony Stark"

print("TONY" in name)  #Gives output in boolean format. and it is case sensitive

False

In [13]:
#Operator Precedence - BODMAS

result = 2 + 3 * 5
result

17

In [14]:
#Operator Precedence

result = (2 + 3) * 5
result

25

In [15]:
#Operator Precedence

result = 2 + 3 / 5
result

2.6

In [16]:
#Comparison Operator

print(3 > 2)

True

In [17]:
#Comparison Operator

print(3 != 2)

True

In [18]:
#Logical Operator - or

print(2 > 3 or 2 < 3) #one of the condition must be true

True

In [20]:
#Logical Operator - and

print(2 > 3 and 2 < 3) #both conditions must be true

False

In [22]:
#Logical Operator - not

print(not 2 > 3)

True

In [27]:
#range and for loop
#range(5)  0, 1, 2, 3, 4

for item in range(5):
  print (item + 1)

1
2
3
4
5

In [29]:
#while loop

i = 1
while i <= 5:
  print(i)
  i += 1

1
2
3
4
5

In [30]:
#pattern Programming

i = 1
while i <= 5:
  print(i * "*")
  i += 1

*
**
***
****
*****

In [31]:
#LIST [] - List is denoted by []

marks = [95, 96, 98, 97]
marks

[95, 96, 98, 97]

In [32]:
#LIST [] - List is denoted by []

marks = [95, 96, 98, 97]
marks[1] #value at given index.

96

In [36]:
#LIST [] - List is denoted by []

marks = [95, 96, 98, 97]
marks[-2] #value at given index but it will start from end part of the list as it has '-' sign.

98

In [37]:
#LIST [] - List is denoted by []

marks = [95, 96, 98, 97]
marks[0:2]  #values at given index range

[95, 96]

In [38]:
#LIST [] - List is denoted by []

marks = [95, 96, 98, 97]
marks[1:2]  #values at given index range

[96]

In [39]:
#LIST [] - List is denoted by []

marks = [95, 96, 98, 97]
marks[1:3]  #values at given index range

[96, 98]

In [40]:
#LIST [] - List is denoted by []

marks = [95, 96, 98, 97]
#by using for loop'

for mark in marks:
  print(mark)

95
96
98
97

In [42]:
#LIST [] - List is denoted by []

marks = [95, 96, 98, 97]
#Append Operation

marks.append(100)
marks

[95, 96, 98, 97, 100]

In [45]:
#LIST [] - List is denoted by []

marks = [95, 96, 98, 97]
#Insert Operation in given index

marks.insert(1,101) #at index 1 it will add 101 value.
marks

[95, 101, 96, 98, 97]

In [47]:
print(len(marks)) #finds length of the list.

5

In [52]:
i = 0
while i < len(marks):
  print(marks[i])
  i = i + 1

95
101
96
98
97
10

In [50]:
marks.clear() #to clear the list. it will make list empty.

In [57]:
students = ["Amit", "Sumit", "Ram", "Shyam", "Kishan"]

for student in students:
  if student == "Sumit":
    break;   #it will break the loop from given entry/name and will print the rest.
  print(student)

Amit

In [58]:
students = ["Amit", "Sumit", "Ram", "Shyam", "Kishan"]

for student in students:
  if student == "Sumit":
    continue;   #it will skip the given entry/name and will print the rest.
  print(student)

Amit
Ram
Shyam
Kishan

In [60]:
students = ["Amit", "Sumit", "Ram", "Shyam", "Kishan"]

for student in students:
  if student == "Sumit" or student == "Amit":
    continue;   #it will skip the given entry/name and will print the rest.
  print(student)

Ram
Shyam
Kishan

In [63]:
#Tuple - Denoted by ()
#Immutable - can't be modify.

marks = (95, 96, 98, 97, 97)
marks.count(97)   #basically it will count how many times the given value is present in a tuple.

2

In [66]:
#Tuple - Denoted by ()
#Immutable - can't be modify.

marks = (95, 96, 98, 97, 97)
marks.index(97)   #basically it will return the index of given value which is present in a tuple.

3

In [69]:
#Set - Denoted by {}
#Duplicates not allowed. and keep it in sorted format.

marks = {95, 96, 98, 97, 97} #no duplicates + sorted format.
marks

{95, 96, 97, 98}

In [76]:
#Set - Denoted by {}
#Duplicates not allowed. and keep it in sorted format.

marks = {95, 96, 98, 97, 97} #no duplicates + sorted format.

marks.add(100)
marks

{95, 96, 97, 98, 100}

In [78]:
#Set - Denoted by {}
#Duplicates not allowed. and keep it in sorted format.

marks1 = {95, 96, 98, 97, 97}
marks2 = {95, 10, 20, 30, 98}
marks1.difference(marks2) #will give the difference or uncommon values.

{96, 97}

In [85]:
#Set - Denoted by {}
#Duplicates not allowed. and keep it in sorted format.

marks1 = {95, 96, 98, 97, 97}
marks2 = {95, 10, 20, 30, 98}
marks1.difference_update(marks2) #will give the difference or uncommon values. and update the marks1 set permanent.

In [86]:
marks1

{96, 97}

In [87]:
#Dictionary Denoted by {}
#pair with the value

marks = {"English" : 95, "Chemistry" : 96, "Maths" : 100}
marks

{'English': 95, 'Chemistry': 96, 'Maths': 100}

In [88]:
#Dictionary Denoted by {}
#pair with the value

marks = {"English" : 95, "Chemistry" : 96, "Maths" : 100}
marks['English']

95

In [89]:
#Dictionary Denoted by {}
#pair with the value

marks = {"English" : 95, "Chemistry" : 96, "Maths" : 100}
marks["English"] = 97   #update theb particular subject's mark.
marks

{'English': 97, 'Chemistry': 96, 'Maths': 100}

In [98]:
#Dictionary Denoted by {}
#pair with the value

marks = {"English" : 95, "Chemistry" : 96, "Maths" : 100}
marks["Physics"] = 95   #Append Operation.
marks

{'English': 95, 'Chemistry': 96, 'Maths': 100, 'Physics': 95}

In [99]:
#Functions
# 1) In-Built Functions.   eg. print()
# 2) Module Functions.  eg.
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [ ]:
#Functions
# 1) In-Built Functions.   eg. print()
# 2) Module Functions.  eg.
from math import sqrt  #import a specific function from math module.

from math import * #Import all functions from math module.

In [102]:
#Functions
# 1) In-Built Functions.   eg. print()
# 2) Module Functions.
# 3) User Defined Functions.

#def function_name(parameter):
#def means defination
#eg.

def print_sum(first, second):
  print(first + second)

print_sum(20, 20)

40

In [103]:
#Functions
# 1) In-Built Functions.   eg. print()
# 2) Module Functions.
# 3) User Defined Functions.

def print_sum(first, second = 4):    #adding by default value if not given.
  print(first + second)

print_sum(20)

24