<a href="https://colab.research.google.com/github/AmitUdugade/PythonBasicsWorkspace/blob/main/Day5_0802.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Multiline statements in print()
#Method 1
print("""Hello world
This is my first python program
hope you all like it""")

Hello world
This is my first python program
hope you all like it

In [5]:
#Multiline statements in print()
#Method 2
print("Hello world \nThis is my first python program \nhope you all like it")

Hello world
This is my first python program
hope you all like it

In [7]:
exp1 = eval(input("Enter your evaluation here : "))
print(exp1)

Enter your evaluation here : 10%3
1

In [16]:
name = input("Enter your name : ")
age = int(input("Enter your age : "))
address = input("Enter your address : ")
print("\n")
print("Name is " + name)
print("Age is " + str(age))
print("Address is " + address)

Enter your name : Amit
Enter your age : 31
Enter your address : Mumbai


Name is Amit
Age is 31
Address is Mumbai

In [19]:
#Swap two variables
a = 10
b = 20

c = a
a = b
b = c

print("a = " +str(a))
print("b = " +str(b))

a = 20
b = 10

In [24]:
#Swap two variables
#method 2
a = 10
b = 20

#left, right = right, left
a,b = b,a

print(a)
print(b)

20
10

In [22]:
#Convert Float into int
a = 10.1

a = int(a)
print(a)
type(a)

10

int

In [23]:
a = 10

a = float(a)
print(a)
type(a)

10.0

float

In [25]:
#Identity Operator - used to compare the items to see if they are present in given memory address
a = 1234
b = "1234"

print(a is b)

False

In [26]:
#Identity Operator
a = 1234
b = "1234"

print(a is not b)

True

In [27]:
#memership operator - used to check presense of the word in given string

a = "Hello World"

print("Hello" in a)

True

In [29]:
#Short hand if statement

marks = 90

if marks >= 90: print("You will get a new phone")

You will get a new phone

In [31]:
#Short hand if-else statement

marks = 87

print("You will get a new phone") if marks >= 90 else print("No phone")

No phone

In [35]:
#Check if number is positive or negative

num = 0

if num >= 0:
  print("It's a positive number")
else:
  print("It's  a negative number")

It's a positive number

In [39]:
#number is even or odd

num = 1

if num % 2 == 0:
  print("The number is Even")
else:
  print("The number is Odd")

The number is Odd

In [41]:
#check the given character is vowel or not

ch = 'x'

if ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u':
  print("The given character is a vowel")
else:
  print("Not a vowel")

Not a vowel

In [50]:
#check the given character is vowel or not

letter = input("Enter a letter : ")

if (letter in "aeiou") or (letter in "AEIOU"):
  print("It is a vowel.")
else:
  print("Not a vowel.")

Enter a letter : A
It is a vowel.

In [47]:
#check if given number is 1 digit, 2 digit upto 5 digit

num = input("Enter any number having digit upto 5 only : ")

if len(num) == 5:
  print("Five Digit")
elif len(num) == 4:
  print("Four Digit")
elif len(num) == 3:
  print("Three Digit")
elif len(num) == 2:
  print("Two Digit")
elif len(num) == 1:
  print("One Digit")
else:
  print("Enter the number upto 5 digits only")

Enter any number having digit upto 5 only : 123456
Enter the number upto 5 digits only

In [53]:
#while true

n = 1
while True:
  print("Hello world", n)
  n += 1
  if n >= 10:
    break;

Hello world 1
Hello world 2
Hello world 3
Hello world 4
Hello world 5
Hello world 6
Hello world 7
Hello world 8
Hello world 9

In [54]:
#while true

while True:
  num1 = int(input("Enter value of num1 : "))
  num2 = int(input("Enter value of num2 : "))

  print(num1 + num2)
  repeat = input("Do you want to stop the program (yes/no) : ")
  if repeat == "yes":
    break

Enter value of num1 : 12
Enter value of num2 : 12
24
Do you want to stop the program (yes/no) : no
Enter value of num1 : 24
Enter value of num2 : 24
48
Do you want to stop the program (yes/no) : yes

In [55]:
#For Loop with Condition

for i in range(1, 101):
  if i % 8 == 0 and i % 12 == 0:
    print(i)

24
48
72
96

In [58]:
#Sum of even number up to 50

sum = 0
for i in range(1, 51):
  if i % 2 == 0:
    sum = sum + i
print("Sum of even numbers up to 50 is", sum)

Sum of even numbers up to 50 is 650

In [59]:
#first 20 numbers along with thier squared numbers

for i in range(1, 21):
  print(i, i**2)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196
15 225
16 256
17 289
18 324
19 361
20 400

In [63]:
#sum of first 10 odds numbers using while loop

sum = 0
n = 0
while n <= 20:
  if n%2 == 1:
    sum = sum + n
  n = n + 1
print("sum of first 10 odds numbers is ", sum)

sum of first 10 odds numbers is  100

In [74]:
a = "Why fit in, When you are born to stand out!"

print(len(a))   #Length of the above string.

#program to upper or lower a string

upper = a.upper()
lower = a.lower()

print(upper)
print(lower)

#find the index of 'fit in'
a.find("fit in")

p = a.count("o")
p

43
WHY FIT IN, WHEN YOU ARE BORN TO STAND OUT!
why fit in, when you are born to stand out!

4

In [75]:
a = "Why fit in, When you are born to stand out!"
p = a.count("o")
p

4