<a href="https://colab.research.google.com/github/AmitUdugade/PythonBasicsWorkspace/blob/main/Day6_0902.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
a = ("OnePlus", "Vivo", "Samsung", "Oppo", "Apple", "Redmi")

print(a[1:3])
print(a[1: :2])
print(a[2:])
print(a[: :-1])

('Vivo', 'Samsung')
('Vivo', 'Oppo', 'Redmi')
('Samsung', 'Oppo', 'Apple', 'Redmi')
('Redmi', 'Apple', 'Oppo', 'Samsung', 'Vivo', 'OnePlus')

In [12]:
a = ("OnePlus", "Vivo", "Samsung", "Oppo", "Apple", "Redmi")

i = 0
while i < len(a):
  print(a[i])
  i += 1

OnePlus
Vivo
Samsung
Oppo
Apple
Redmi

In [22]:
d = {"d":15, "a": 12, "b":13, "c":14}

d = sorted(d.values())  #Sorted by values
print(d)

['a', 'b', 'c', 'd']

In [25]:
d = {"d":15, "a": 12, "b":13, "c":14}
res = 1
for i in d:

  res = d[i] * res
print(res)

32760

In [29]:
a = {12, 13, 14, 15}

print("maximum", max(a))
print("Minimum", min(a))

maximum 15
Minimum 12

In [33]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7}
c = {6, 7, 8, 9}

print(set(a) & set(b) & set(c))
print(a.difference(b))
c.discard(8)    #remove value 8
print(c)

print(b.issubset(a))

set()
{1, 2, 3}
{9, 6, 7}
False

In [37]:
#Nested Dictionaries

employees = {1: {"Name" : "Amit", "Age" : 28},
            2: {"name" : "Sumit", "Age" : 27}
            }

print(employees[2]["Age"])
print(employees)

27
{1: {'Name': 'Amit', 'Age': 28}, 2: {'name': 'Sumit', 'Age': 27}}

In [44]:
students = {'Name': 'Amit', 'Age': 28, 'name': 'Sumit', 'Age': 27}

for x in students:
  print(x)   #Keys
  print(students[x])   #Values

Name
Amit
Age
27
name
Sumit

In [47]:
students = {'Name': 'Amit', 'Age': 28, 'name': 'Sumit', 'Age': 27}

  for x, y in students.items():
    print(x, "-" , y)

Name - Amit
Age - 27
name - Sumit

In [50]:
students = {'Name': 'Amit', 'Age': 28, 'Name': 'Sumit', 'Age': 27}

print(students["Name"])

Sumit

In [59]:
student = {'Name': 'Amit', 'Age': 28}

x = student.get("Age")
print(x)
y = student.values()
print(y)

student_copy = student.copy()
print(student_copy)

28
dict_values(['Amit', 28])
{'Name': 'Amit', 'Age': 28}

In [52]:
a = {"superman", "spiderman", "hulk"}

a.add("thor")
print(a)

{'thor', 'hulk', 'spiderman', 'superman'}

In [53]:
a = {"superman", "spiderman", "hulk"}

a.pop()   #Randomly removes
print(a)

{'spiderman', 'superman'}

In [54]:
a = {"superman", "spiderman", "hulk"}

a.remove("superman")
print(a)

{'hulk', 'spiderman'}

In [55]:
a = {"superman", "spiderman", "hulk"}

b = a.copy()
print(b)

{'hulk', 'spiderman', 'superman'}

In [60]:
def hello():
  print("Hello World")

hello()

Hello World

In [62]:
def addition():
  a = 10
  b = 20
  print(a+b)

addition()

30

In [63]:
def add(x,y):
  return x + y

add(10,30)

40

In [ ]:
#recursion
# A functiobn can call itself.
#Disadvantage -
# recursive function take up a lot memory.
# sometimes the logic becomes hard to follow.
# debugging is difficult.


def hello():
  print("Hello World")
  return hello()     #return keyword is used to exit a function and return the value of the function.

print(hello())

In [66]:
def factorial(n):
  if n == 1:
    return 1
  else:
    return n * factorial(n-1)

factorial(5)

120

In [67]:
def add(x,y):
  print(x+y)

add(10,10)

20

In [69]:
#Arbitary Arguments
#can pass multiple arguments

def hello (*name):
  print("Hello, My name is", name[1])

hello("Amit", "Sumit")

Hello, My name is Sumit

In [70]:
#lambda function - Temporary function - not stored in a memory.

a = lambda b:b*5
print(a(4))

20

In [74]:
x = lambda a,b,c:(a+b)*c
print (x(3, 7, 3))

30

In [78]:
#Local variables restricted to the block of the code. cannot be changed throughout the program.
#Global variable - there is no restriction.

x = 10
print("value of x is ", x)

def hello():
  x = 20
  return x

print(hello())
print(x)

value of x is  10
20
20

In [79]:
#Global variable - there is no restriction.

x = 10
print("value of x is ", x)

def hello():
  global x    #Global variable.
  x = 20
  return x

print(hello())
print(x)

value of x is  10
20
20

In [86]:
def max_num():
  a = [10,20,30,20]
  a.sort()
  return (a[-1])

print(max_num())

30

In [96]:
def square():
  for i in range(1,31):
    print (i, i*i)

square()

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196
15 225
16 256
17 289
18 324
19 361
20 400
21 441
22 484
23 529
24 576
25 625
26 676
27 729
28 784
29 841
30 900

In [102]:
def prime_num(num):
  if num <= 1:
   print("It is not a prime number.")
  else:
    for i in range(2, num):
      if num % i == 0:
        print("It is not a prime number.")
        break
    else:
        print("It is a prime number.")

prime_num(11)

It is a prime number.

In [107]:
def summ():
  res = 0
  a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
  for i in a:
    res = res + i
  return res

print(summ())

55

In [117]:
a = 0
b = 1
print(a, end = " ")
print(b, end = " ")

for i in range(0, 10):
  c = a + b
  a = b
  b = c
  print(c, end = " ")

0 1 1 2 3 5 8 13 21 34 55 89

In [123]:
import datetime

x = datetime.datetime.now()
print(x)

y = datetime.datetime(1991,9,18)
print(y.strftime("%A"))

2024-02-09 16:32:42.508558
Wednesday

In [125]:
import random    #randomly pick values from given range

x = random.randint(1,100)
print(x)

98

In [128]:
import random

l = ["Heads", "Tails"]
x = random.choice(l)
print(x)

Heads