<a href="https://colab.research.google.com/github/AmitUdugade/PythonBasicsWorkspace/blob/main/Day6_0902_Problem_Solving.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#Fiboncci Series
a = 0
b = 1
print(a)
print(b)
for i in range(2, 11):
  c = a+b
  a = b
  b = c
  print(c)

0
1
1
2
3
5
8
13
21
34
55

In [10]:
#Fiboncci Series
a = 0
b = 1
n = int(input("Enter a number : "))
if n == 1:
  print(n)
else:
  print(a)
  print(b)
  for i in range(2, n):
    c = a+b
    a = b
    b = c
    print(c)

Enter a number : 14
0
1
1
2
3
5
8
13
21
34
55
89
144
233

In [18]:
#Prime Number

num = int(input("Enter any number : "))

if num <= 1:
  print("It is not a prime number.")
else:
  for i in range(2, num):
    if num % i == 0:
      print("It is not a prime number.")
      break
  else:
      print("It is a prime number.")

Enter any number : 11
It is a prime number.

In [35]:
#Palindrome Number

num = int(input("Enter any number : "))
temp = num
rev = 0
rem = 0

while num > 0:
  rem = num % 10
  rev = rev * 10 + rem
  num = num // 10

if rev == temp:
  print("It is a Palindrome Number")
else:
  print("It is not a Palindrome Number")

Enter any number : 121
It is a Palindrome Number

In [28]:
#Palindrome Number

num = input("Enter any number : ")
temp = (num[::-1])

if num == temp:
  print("It is a Palindrome Number")
else:
  print("It is not a Palindrome Number")

Enter any number : 123321
It is a Palindrome Number

In [52]:
#Problem Solving
#1. Separate the following string into a comma(,)
a = "OOTD.YOLO.ASAP.BRB.GTG.OTW"

b = a.split(".")
print(b)

['OOTD', 'YOLO', 'ASAP', 'BRB', 'GTG', 'OTW']

In [53]:
#Problem Solving
#2. Sort string alphabetically.
a = "OOTD.YOLO.ASAP.BRB.GTG.OTW"

b = sorted(a)
print(b)

['.', '.', '.', '.', '.', 'A', 'A', 'B', 'B', 'D', 'G', 'G', 'L', 'O', 'O', 'O', 'O', 'O', 'P', 'R', 'S', 'T', 'T', 'T', 'W', 'Y']

In [54]:
#Problem Solving
#3. Remove Given character from string

a = "Hello"

b = a.replace("e", "")
print(b)

Hllo

In [56]:
#Problem Solving
#4. Remove the Dot(.) from the given string.

a = "F.R.I.E.N.D.S"

b = a.replace(".", "")
print(b)

FRIENDS

In [65]:
#5. Number of occurance of a substring in a string.

a = "India, officially the Republic of India (ISO: Bhārat Gaṇarājya), is a country in South Asia. It is the seventh-largest country by area; the most populous country as of June 2023 and from the time of its independence in 1947."

b = a.count("India")
print("The Word India occurance ", b)

The Word India occurance  2

In [77]:
#6. Take a string from user and reverse it.

s = input("Enter anything : ")

print(s[::-1])

Enter anything : Hello
olleH

In [79]:
#Check if string has only digits

b = input("Enter any digit : ")

b.isdigit()

Enter any digit12354

True

In [88]:
#String is palindrome or not

a = input("Enter any string : ")
rev = (a[::-1])

if a == rev:
  print("The string is palindrome.")
else:
  print("The string is not palindrome.")

Enter any string : madam
The string is palindrome.

In [89]:
#check vowels in given string

a = input("Enter any string : ")
vowels = 0

for i in a:
  if i =="a" or i =="o" or i == "u" or i =="i" or i == "u":
    vowels += 1
print("Total no. of vowels in following string : ", vowels)

Enter any string : amit
Total no. of vowels in following string :  2

In [90]:
a = "Harry Potter And The goblet Of Fire"

a.istitle()

False

In [95]:
a = ["Rose", "Rachel", "Monica", "Joe"]

#write a program to delete 3rd position.

print(a.pop(3))
print(a)

#add a new item in 2nd position
print(a.insert(2, "Amit"))

print(a)

Joe
['Rose', 'Rachel', 'Monica']
None
['Rose', 'Rachel', 'Amit', 'Monica']

In [96]:
a = ["Rose", "Rachel", "Monica", "Joe"]

#swap 1st and 4th

a[0], a[3] = a[3], a[0]
print(a)

['Joe', 'Rachel', 'Monica', 'Rose']

In [97]:
b = [13, 7, 12, 10]

sum = 1
for i in b:
  sum = sum * i
print(sum)

10920

In [100]:
b = [13, 7, 12, 10]

#largest value
b.sort()
print(b)
print("Largest value from the list is ", b[-1])
print("smallest value from the list is ", b[0])

[7, 10, 12, 13]
Largest value from the list is  13
smallest value from the list is  7