<a href="https://colab.research.google.com/github/AmitUdugade/PythonWorkspace/blob/main/Lambda_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Lambda Function - is small anonymous function without a name.(nameless function)
#                - It is defined using the lambda keyword.

'''
  syntax :
            lambda arguments : expression
              '''

double = lambda x : x*2

print(double(5))

10

In [ ]:
cube = lambda x : x * x * x

print(cube(5))

125

In [ ]:
avg = lambda x, y : (x+y)/2

print(avg(3,5))

4.0

In [ ]:
def appl(fx, value):
  return 6 + fx(value)

print(appl(cube, 2))

14

In [2]:
convert = lambda name: name.upper()

print(convert('virat Kohli'))

VIRAT KOHLI

In [7]:
convert = lambda name: name.swapcase()

print(convert('viRat Kohli'))

VIrAT kOHLI

In [ ]:
dir(str)

In [ ]:
def add(x, y):
  return x + y, x -y    #can give multiple expressions.

print(add(10, 20))

ad = lambda x, y : x + y, x - y   #you'll get an error as you can't give multiple expressions. lambda accepts only one expression.
print(ad(50, 60))

In [12]:
#solution to above error

ad = lambda x, y : (x + y, x - y)  #give brackets if you have multiple expressions.

print(ad(50, 60))

(110, -10)