<a href="https://colab.research.google.com/github/AmitUdugade/PythonWorkspace/blob/main/map()_filter()_reduce().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Map() Filter() Reduce() -
''' In python, map() filter() reduce() are built-in functions that allows you to apply a function to a sequence of element and return a new sequence.
    these functions are known as higher-order functions, as they take other functions as a arguments.
                                                                                                      '''

# map() - map function applies a function to each element in a sequence and return a new sequence containing a transformed element.
# syntax -      map(function, iterate)

l = [1, 2, 43, 45, 8]

new_l = list(map(cube, l))
print(new_l)

[1, 8, 79507, 91125, 512]

In [ ]:
cube = lambda x : x * x * x

print(cube(5))

125

In [ ]:
#Filter() - filters a sequence of elements based on a given predict and return a new sequence containing only the elements that meet the predict.

''' syntax -
              filter(predict, iterable)
                                        '''

def filter_function(a):
  return a > 2

new_l1 = list(filter(filter_function, l))

print(new_l1)

[43, 45, 8]

In [ ]:
# Reduce() - applies a function to a sequence and return a single value.
#          - present in a functools module.

from functools import reduce

numbers = [1, 2, 3, 4, 5]

def mysum(x, y):
  return x + y

sum = reduce(mysum, numbers)
print(sum)

15

In [3]:
h = [35, 22, 28, 29, 55, 68, 79]

print(list(filter(lambda num: num % 2 == 0, h)))

[22, 28, 68]

In [5]:
players = ['virat', 'dhoni', 'sachin', 'dinesh']

print(list(filter(lambda name : name.endswith('t'), players)))

['virat']

In [7]:
salary = [2000, 5000, 6000, 8000, 2540]

print(list(map(lambda amt : amt + amt * 0.1 if amt > 5000 else amt + amt * 0.2, salary )))

[2400.0, 6000.0, 6600.0, 8800.0, 3048.0]

[2400.0, 6000.0, 7200.0, 9600.0, 3048.0]

In [16]:
from functools import reduce

a = [30, 40, 85, 56, 12, 33, 79]

print("The maximum number among list is", reduce(lambda x, y : max(x, y), a))

The maximum number among list is 85